<ion-menu side="start" menuId="custom" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Components</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/action-sheet">Action sheet</ion-item>
      <ion-item routerLink="/alert">Alert</ion-item>
      <ion-item routerLink="/avatar">Avatar</ion-item>
      <ion-item routerLink="/buttons">Buttons</ion-item>
      <ion-item routerLink="/cards">Card</ion-item>
      <ion-item routerLink="/checkbox">Checkbox</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let c of components" [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{ c.name }}
    </ion-item>
  </ion-list>
</ion-content>